<div>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Hamburger Menu -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Face</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Full Body</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="main-container-grid">
    <div class="cards">
      <% @products.each do |product| %>
        <% if product.photos.attached? %>
          <div class="card">
            <%= cl_image_tag product.photos.first.key, height: 200, width: 300, crop: :fill %>
          </div>
        <% else %>
          <div class="card">
            <%= image_tag "featured-1.png", alt: "alttext" %>
            <%= product.ammount %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
