<div>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Hamburger Menu -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Face</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Full Body</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="main-container-grid">
    <div class="cards" id="stock-id" data-stock-id="1">
      <%= render "stock" %>
    </div>
  </div>
</div>
