<div class="banner-container row" style="background-image: url(https://images.unsplash.com/photo-1583209814683-c023dd293cc6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="text-banner col-12 col-lg-6 justify-content-start py-5 m-5">
    <h4 style="font-weight: light;">From Hamburg With Love</h5>
    <h1>WAKE UP</h1>
    <h1>AND MAKEUP</h1>
    <div class="text-p-banner d-flex">
      <div class="v2"></div>
      <p style="width: 80%; margin: 0;">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Recusandae maxime cupiditate cumque eos quod, voluptate</p>
    </div>
    <div class="d-flex align-items-center">
      <%= link_to shops_path do %>
        <button class="btn btn-banner btn-dark">Start Shopping <i class="fas fa-chevron-right"></i></button>
      <% end %>
      <%= link_to shops_path do %>
        <button class="btn btn-trend btn-warning">
          <i class="fas fa-chevron-right"></i>
        </button>
      <% end %>
      <p class="ml-2" style="margin:0; text-shadow: 1px 1px 2px rgba(0,0,0,0.2); font-size: 14px;">
        See what's trending
      </p>
    </div>
  </div>
</div>
