<div class="featured-container row justify-content-between align-items-center" style="width: 100%;">

  <div class="featured-card col-lg-4 col-12">
    <%= image_tag "featured-1.png", alt: "alttext" %>
    <div class="text-card">
      <p>FACE</p>
      <p>See All</p>
    </div>
    <div class="v3"></div>
  </div>


  <div class="featured-card col-lg-4 col-12">
    <%= image_tag "featured-2.png", alt: "alttext" %>
    <div class="text-card">
      <p>HANDS</p>
      <p>See All</p>
    </div>
    <div class="v3"></div>
  </div>


  <div class="featured-card col-lg-4 col-12">
    <%= image_tag "featured-3.png", alt: "alttext" %>
    <div class="text-card">
      <p>BODY</p>
      <p class="inline">See All</p>
    </div>
    <div class="v3"></div>
  </div>
</div>



