<div class="row items-subtotal-contaier">
  <!-- Items -->
  <div class="order-items-products col-12 col-lg-9">
    <%= render "order_items" %>
  </div>

  <!-- Subtotal - Checkout -->
  <div class="order-items-subtotal col-12 col-lg-3">

  </div>

</div>
