<div class="order-items-title">
  <h1>Shopping Cart</h1>
  <div>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-end align-items-baseline">
        <i class="fas fa-map-marker-alt"></i>
        <div style="margin-left: 12px;">
          <p>Delivery address:</p>
          <p> <%= current_user.user_name %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
</div>
<div class="row just">
  <!-- Items -->
  <div class="order-items-products col-12 col-lg-8">
    <%= render "order_items" %>
  </div>

  <!-- Subtotal - Checkout -->
  <div class="sticky-top order-items-subtotal col-12 col-lg-4">
    <%= render "check_out" %>
  </div>
</div>
