.dashboard-menu{
  width: 200px;
  background-color: white;
  height: 100vh;
  .dashboard-avatar {
    img.avatar-default{
      transition: 0.3s;
      border-radius: 50%
    }
    img.avatar-default:hover{
      opacity: 0.5;
      filter: blur(1px);
    }
  }
  p.user-name {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    padding: 6px 0;
  }
  p.user-role {
    font-size: 10px;
    padding: 2px 8px;
    border: 1px solid #5cc9f5;
    border-radius: 4px;
    color: #308fb5;
  }
  .dasboard-link{
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        font-size: 14px;
        padding: 14px 24px;
        color: #41434c;
        transition: 0.3s;
        &:hover{
          color: #2a2b30;
          border-right: 2px solid #5a7dfb
        }
        i{
          margin-right: 12px;
          padding: 8px;
          border-radius: 4px;
          color: #ffffff;
        }
      }
    }
    a.log-out {
      color: red;
    }
  }
}
