.order-items-title{
  width: 100%;
  padding: 24px;
  padding-bottom: 0;
  p {
    text-align: end;
    margin-right: 48px;
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Karla', 'sans-serif';
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 36px;
  }
}
