<h2><%= @category.name %></h2>

<p><%= @category.description %></p>

<%= link_to 'Edit' , edit_category_path(@category) %>

<%= link_to 'Destroy', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>
